{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="adicionar">
        <a href="/restaurantes/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Localizacao</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for r in restaurantes %}
        <tr>
            <td>{{r.nome}}</td>
            <td>{{r.localizacao}}</td>
            <td><a href="/restaurantes/edit/{{r.id_restaurantes}}">[E]</a></td>
            <td><a href="/restaurantes/remove/{{r.id_restaurantes}}">[X]</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
