{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/restaurantes/save" method="post">
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome">
        </div>
        <div>
            <label for="localizacao">Localizacao: </label>
            <input type="text" name="localizacao" id="localizacao">
        </div>
        <button type="submit">Salvar</button>
    </form>
{% endblock %}